body, html
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  overflow-y: auto

canvas
  position: absolute
  width: 100%
  height: 100%

#map-wrapper
  max-width: 900px
  margin: auto
  position: relative
  .header
    color: #fff
    a
      margin-left: 10px
  .content
    position: relative
    width: 100%
    height: 500px
    overflow: hidden
    background-color: #2F3236

  .play-btn
    position: absolute
    top: 10px
    right: 10px
    z-index: 9
    i
      color: #fff

  .prev, .next
    position: absolute
    top: 48%

  .prev
    left: -80px

  .next
    right: -80px

.map-list
  background-color: #000
  li
    color: #fff
    font-size: 18px
    padding: 10px
    display: block
  .name
    padding-right: 10px

  .actions, .user
    float: right
    padding-right: 10px

    a
      padding-right: 10px
